* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to left , rgba(8, 144, 223, 0.87), rgba(23, 23, 212, 0.774));
    justify-content: center;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 70px;
    max-inline-size: 800px;
    margin:auto;
}

.card {
    background: cornflowerblue;
    border: 1px solid grey;
    border-radius: 0.75rem;
    overflow: hidden;
    cursor: pointer;
    transition: transform 200ms ease, filter 200ms ease;
    text-align: center;
    margin: auto;
}

.card img {
    width: 250px;
    height: 380px;
    object-fit: cover;
    margin: 10px;
    border-radius: 10px;
}

/* -- hover effect --*/
.container:hover .card:not(:hover) {
    filter: blur(1px);
    
}

.container .card:hover {
    transform: scale(1.05);
}