* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1d8bc5;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    user-select: none;
}

#demo {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    width: 50%;
    height: 50%;
    padding: 1rem;
    background-color: #ffffff1a;
    overflow: hidden;
    border-radius: 1rem;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.75rem;
    border: 1px solid black;
    object-fit: contain; /* a kép méretének igazitása a területhez */
}