* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to right, rgba(8, 144, 223, 0.87), rgba(23, 23, 212, 0.774));
    color: #111;
}

header {
    padding: 1rem;
    background: linear-gradient(to left, rgb(88, 67, 206), rgb(64, 113, 219));
    border-bottom: 1px solid black;
}

header h1 {
    font-size: 1.25rem;
}

/* layout */
main {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem;
}

/* grid */
.grid {
    display: grid;
    gap: 0.75rem;
    grid-template-columns:1fr;
}

/* tablet */
@media (min-width: 700px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1000px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    background: cornflowerblue;
    border: 1px solid grey;
    border-radius: 0.75rem;
    overflow: hidden;
    cursor: pointer;
    transition: transform 200ms ease, filter 200ms ease;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card .content {
    padding: 0.5rem;
}

.card h3 {
    font-size: 1rem;
}

/* -- hover effect --*/
.grid:hover .card:not(:hover) {
    filter: blur(1px);

}

.grid .card:hover {
    transform: scale(1.05);
}